 {% load static %}
 <footer class="w-[1920px] text-white">
      <div class="h-[560px] bg-[#241520] py-[66px] px-[360px]">
        <div class="flex gap-[651px]">
          <div>
            <img src="{% static 'stylicle_app/images/service.svg' %}"  alt="" />
          </div>
          <!-- <span></span> -->

          <div class="flex gap-2.5">
            <span><img src="{% static 'stylicle_app/images/facebook.svg' %}" alt="" /></span>
            <span><img src="{% static 'stylicle_app/images/twitter.svg' %}" alt="" /></span>
            <span><img src="{% static 'stylicle_app/images/linkdn.svg' %}" alt="" /></span>
            <span><img src="{% static 'stylicle_app/images/instagram.svg' %}" alt="" /></span>
          </div>
        </div>
        <div class="my-[52px]">
          <img src="{% static 'stylicle_app/images/Line.png' %}" alt="" />
        </div>
        <div class="flex gap-[129px]">
          <div class="w-[272px]">
            <h3 class="text-[22px] font-play font-bold leading-5 mb-[21px]">
              Explore
            </h3>
            <ul class="text-[17px] font-medium leading-9">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="w-[272px]">
            <h3 class="text-[22px] font-play font-bold leading-5 mb-[21px]">
              Utility Pages
            </h3>
            <ul class="text-[17px] font-medium leading-9">
              <li>Privacy Policy</li>
              <li>Terms of Use</li>
            </ul>
          </div>
          <div class="w-[324]">
            <h3 class="text-[22px] font-play font-bold leading-5 mb-[21px]">
              Keep in Touch
            </h3>
            <div class="w-[324px] text-[17px] font-medium leading-8">
              <div class="h-[63px] flex mb-[21px]">
                <div class="w-[90px]">Address :</div>
                <span class="w-[234px]"
                  >Mariendalsvej 50D 2 2000 Frederiksberg.</span
                >
              </div>
              <div class="flex mb-[21px]">
                <div class="w-[90px]">Mail :</div>
                <span>support@servicemarket.com</span>
              </div>
              <div class="flex">
                <div class="w-[90px]">Phone :</div>
                <span>+8801766550632</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-[75px] bg-[#160813] text-center items-center">
        <p class="py-5">© 2025, Team Clover | All rights reserved</p>
      </div>
    </footer>